<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ryan-lingle/"><i class="fab fa-github-square github"></i></i></a>
    <a href="https://twitter.com/i_amm_nobody"><i class="fab fa-twitter-square twitter"></i></i></a>
    <a href="https://www.linkedin.com/in/ryan-lingle/"><i class="fab fa-linkedin linkedin"></i></i></a>
    <a href="https://medium.com/@ryan_lingle"><i class="fab fa-medium footer-medium"></i></a>
  </div>
  <div class="footer-copyright">
    &copy; Ryan Lingle
  </div>
</div>
