<%= render 'shared/banner', title: 'About Me', subtitle: '' %>
<div class="container">
  <div class="row home-row">
    <div class="col-sm-12 col-md-6 col text-center">
      <%= image_tag "me.jpeg", width: '400', height: '265', class: 'me' %>
    </div>
    <div class="col-sm-12 col-md-6 col">
      <div class="text">
        <p>
          I am a recent graduate of Le Wagon Coding Bootcamp, where I was introduced to the craft of Software Engineering. On top of programming, my interests (okay obsessions) include rock climbing, running, lifting, Spikeball, Twitter (where I tweet under the not-so pseudonymous profile of Chef Nobody), crypto, board games such as Monopoly and Settlers of Catan and pretending to be an intellectual in conversations. Oh and of course reading.
        </p>
        <p>
          As of right now, I am seeking opportunities to further develop my programming skills. These opportunities include part-time, freelance, internship, or junior developer positions; really anything that allows me to continue learning the craft at a rapid pace. I have a preference towards contributing to a startup over an established company.
        </p>
      </div>
    </div>
  </div>
</div>
