.article-container {
  width: 700px;
  margin: auto;
}

.article-header {
  margin-top: 50px;
}

.article-image {
  margin-bottom: 30px;
  margin-top: 30px;
}

.cover-image {
  margin-top: 40px;
}
.article {
  line-height: 30px;
}

.article p {
  margin-top: 40px;
  margin-bottom: 40px;
}
